<div style="border: 1px #386d9c solid; margin: 0px 40px 0px 10px;">
        <h4 style="text-align: center;font-weight: bold">Articles les plus vendus  !</h4>
        <table class="table table-hover" style="text-align: center;background-color: #F6BF60">
            {% for article in plusVendus %}
                <tr><td>{{ article[0].getNom() }}</td><td>{{ article.nbCmd }} Ventes</td></tr>
            {% endfor %}
        </table>

</div>