<div style="border: 1px #386d9c solid; margin: 0px 40px 0px 10px;">
    <a href="{{ path('panier_contenuPanier') }}"/>
    <h4 style="text-align: center">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        Panier
    </h4>
    </a>

    {% if articlesPanier == null %}

    {% else %}
        <div class="card-deck mb-3 text-center">

            {% for article in articlesPanier %}
                <div class="card mb-4 shadow-sm" style="width: 10%;">

                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ article['article'].getNom() | trans }}</h4>
                    </div>
                    <div class="card-body">


                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}



</div>