
    <h5 style="color: #ED6D17;font-style: italic;text-align: center">
        Connecté  
        <a href="{{ path('logout') }}">
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
        </a>
    </h5>
    <table class="table table-condensed" style="text-align: center">
        <tr>
            <td>{{ client.getNom() }}</td>
        </tr>
        <tr>
            <td>{{ client.getMail() }}</td>
        </tr>
    </table>


