{% extends "mi03VitrineBundle::layout_back.html.twig" %}

{% block content %}
    <h1>Commande creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('commande_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
