{% extends "mi03VitrineBundle:Default:main.html.twig" %}
{% block content %}
  <h1>Bienvenu sur votre compte</h1>
    <h2>Espace Personnel</h2>
    <table class="table table-striped">
        <tr><td>Client Id : </td><td>{{ client.getId() }}</td></tr>
        <tr><td>Nom : </td><td>{{ client.getNom() }}</td></tr>
        <tr><td>Prenom : </td><td>{{ client.getPrenom() }}</td></tr>
        <tr><td>Email : </td><td>{{ client.getEmail() }}</td></tr>
    </table>
    <a href="{{ path('client_edit', { id : client.getId()}) }}"><input type="button" name="vider_Panier" value="Modifier Infos"/></a>
{% endblock %}