
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>{{ 'Titre' | trans }}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mi03vitrine/css/bootstrap.min.css') }}" media="screen" title="Normal" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mi03vitrine/js/bootstrap.min.js') }}" media="screen" title="Normal" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mi03vitrine/js/bundle.min.js') }}" media="screen" title="Normal" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mi03vitrine/js/bootstrap.bundle.min.js') }}" media="screen" title="Normal" />s
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    {{ include('mi03VitrineBundle:Default:header.html.twig') }}
    <div class="col-xs-2 left-container left-box" style="border: 1px #386d9c solid; margin: 0px 40px 0px 10px;">
        {{ render(controller('mi03VitrineBundle:Panier:ArticlesPanier')) }}

    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <div class="col-xs-2" style="border: 1px #386d9c solid; margin: 0px 10px 0px 40px;">
        {{ render(controller('mi03VitrineBundle:Util:plusVendus')) }}

    </div>
    {{ include('mi03VitrineBundle:Default:footer.html.twig') }}
</div>
</body>