
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>{{ 'Titre' | trans }}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/mi03vitrine/css/bootstrap.min.css') }}" media="screen" title="Normal" />			
    <!-- Bootstrap core CSS -->

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
</head>
<body>
    {{ include('mi03VitrineBundle:Default:header.html.twig') }}

    {{ render(controller('mi03VitrineBundle:Panier:ArticlesPanier')) }}
    <div class="container">
    {% block contenu %}
    {% endblock %}
    </div>
    {{ include('mi03VitrineBundle:Default:footer.html.twig') }}  

</body>