{% extends "mi03VitrineBundle:Default:main.html.twig" %}
{% block contenu %}
   <table class="table table-bordered">
        <th>Articles</th>
        <th>Prix</th>
        <th>Quantite</th>
        <th>Total</th>
        <th></th>
        {% for lignePanier in panier %}
            <tr>
                <td>{{ lignePanier['article'].getNom() }}</td>
                <td>{{ lignePanier['article'].getPrix() }}</td>
                <td>
                    <a href="{{ path('panier_lessArticle', {id_article : lignePanier['article'].getId()}) }}">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </a>
                        {{ lignePanier['quantite'] }}
                    <a href="{{ path('panier_moreArticle', {id_article : lignePanier['article'].getId()}) }}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                </td>
                <td>{{ lignePanier['article'].getPrix() *  lignePanier['quantite']}}</td>
                <td>
                    <a href="{{ path('panier_suppressionArticle', {id_article : lignePanier['article'].getId()}) }}">
                        <input type="button" name="supp_article" value="Supprimer"/>
                    </a>
                </td>
            </tr>
        {% endfor %}
            <tr><td></td><td></td><td>Nombres Articles : {{ total['nbArticles'] }}</td><td>Total: {{ total['total'] }}</td><td></td></tr>
    </table>
        <a href="{{ path('panier_viderPanier') }}"><input type="button" text-align="right" name="vider_Panier" value="Vider Panier"/></a>
        <a href="{{ path('panier_convertirCommande') }}"><input type="button" name="valider_Panier" value="Valider le Panier"/></a>
{% endblock %}