{% extends "mi03VitrineBundle:Default:main.html.twig" %}
{% block contenu %}

    <div class="row">
        <div class="col-md-12">
            <div class="media flex-wrap">

                <div class="media-body">
                    <h2>{{ article.nom }}</h2>
                    <h3>{{ article.prix }} €</h3>
                    <p>{{ article.description }}</p>
                    <form action="{{ path('mi03_vitrine_ajouter', {'articleId': article.id, 'qte': 1, '_locale': 'fr'}) }}">
                        <select name="qte">
                            {% for i in 1..10 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>

                        <button type="submit" class="btn btn-success">Ajouter au panier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}