{% extends "mi03VitrineBundle:Default:main.html.twig" %}
{% block contenu %}

        <div class="card-deck mb-3 text-center">

            {% for art in articles %}

            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                <a href="{{ path('mi03_vitrine_articleInfo', {articleId : art.getId()}) }} ">    <h4 class="my-0 font-weight-normal">{{ art.getNom() | trans }}</h4></a>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ art.getPrix }}{{ '€' | trans }}
                        <small class="text-muted"></small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">

                        <li><h4>{{ 'Stock'| trans }}  {{ art.getStock | trans }}</h4></li>
                        <li>{{ 'Description '| trans }} {{ art.getDescription| trans }}</li>
                    </ul>
                    <a href="{{ path('panier_ajoutArticle', {id_article : art.getId(), quantite : 1}) }}"
                       type="button" type="button"
                       class="btn btn-lg btn-block btn-primary">{{ 'Ajouter au panier' | trans }}</a>
                </div>
            </div>
            {% if loop.index% 3 == 0 %}

         </div>
        <div class="card-deck mb-3 text-center">
            {% endif %}
            {% endfor %}
        </div>

{% endblock %}