{% extends "mi03VitrineBundle:Default:main.html.twig" %}
{% block contenu %}
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
            {{ render(controller('mi03VitrineBundle:Client:new')) }}
        </div>
        <div class="col-xs-5">
            {{ render(controller('mi03VitrineBundle:Security:login')) }}#}
        </div>
        <div class="col-xs-1"></div>
    </div>
{% endblock %}