
{% extends "mi03VitrineBundle:Default:main.html.twig" %}
{% block contenu %}

        <div class="card-deck mb-3 text-center">
            {% for cat in categories %}
                <div class="card mb-4 shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ cat.getNom() | trans }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ '€' | trans }}0 <small class="text-muted"></small></h1>
                        <ul class="list-unstyled mt-3 mb-4">

                        </ul>
                        <a type="button" type="button" href= "{{ path('mi03_vitrine_articlesParCategorie', {id_categorie : cat.getId()}) }}"
                           class="btn btn-lg btn-block btn-outline-primary">{{ 'Visualiser' | trans }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

{% endblock %}