        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">

                <div class="col-6 col-md">
                    <img class="mb-2" src="{{ asset('bundles/mi03vitrine/img/logo-iut2.png') }}" alt="" width="150" height="100">
                    <small class="d-block mb-3 text-muted">© Laïdi debbouze IUT2 2018-2019</small>
                </div>
                <div class="col-6 col-md">
                    <h5>{{ 'Ressources' | trans }}</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">{{ 'Ressource' | trans }}</a></li>

                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>{{ 'A propos' | trans }}</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">{{ 'Equipe' | trans }}</a></li>

                    </ul>
                </div>
                <div class="col-6 col-md">
                </div>
            </div>
        </footer>