
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">{{ 'Europagame' | trans }}</h5>

    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{{ path('mi03_vitrine_homepage') }}">{{ 'Accueil' | trans }}</a>
        <a class="p-2 text-dark" href="{{ path('mi03_vitrine_articles') }}">{{ 'Articles' | trans }}</a>
        <a class="p-2 text-dark" href="{{ path('mi03_vitrine_catalogue') }}">{{ 'Categories' | trans }}</a>
        <a class="p-2 text-dark" href="{{ path('mi03_vitrine_mentions') }}">{{ 'Support' | trans }}</a>
        <a class="p-2 text-dark"href="{{ path('panier_contenuPanier') }}">{{ 'Panier' | trans }}</a>
        {% if app.user %}
        <a class="p-2 text-dark" href=""{{ path('client_moncompte') }}"">{{ 'Compte' | trans }}</a>
        {% endif %}

    </nav>
    {% if is_granted('ROLE_ADMIN') %}

    <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'BackOffice' | trans }}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{ path('client_index') }}">{{ 'Client' | trans }}</a>
                <a class="dropdown-item" href="{{ path('commande_index') }}">{{ 'Commande' | trans }}</a>
                <a class="dropdown-item" href="{{ path('article_index') }}">{{ 'Article' | trans }}</a>
            </div>
    </div>
    {% endif %}
    {%  if (app.user) %}
        <button class="btn btn-outline-primary" href="{{ path('logout') }}">  <a class="p-2 text-dark"href="{{ path('login') }}">{{ 'Se déconnecter' | trans }}</a></button>
{% else%}
        <button class="btn btn-outline-primary" href="{{ path('client_authentification') }}">  <a class="p-2 text-dark"href="{{ path('login') }}">{{ 'Se connecter' | trans }}</a></button>
    {% endif%}

</div>
