
{% extends "mi03VitrineBundle:default:main.html.twig" %}
{% block contenu %}
   {%  if (app.user) %}
    <p>Bienvenue : {{ app.user.username }}</p>
    {% endif%}

    <img class="mb-2" src="{{ asset('bundles/mi03vitrine/img/bienvenue.jpg') }}" >

{% endblock %}