<h1>Déja Client</h1>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path('login') }}" method="post">
    <label for="username">Login :</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="_password" />

     {#Pour controler l'URL vers laquelle l'utilisateur est redirigé en cas de succès#}
    <input type="hidden" name="_target_path" value="{{ path('mi03_vitrine_homepage') }}" />
    <button type="submit">login</button>
</form>